@import url(reset.css);
@import url(font.css);

.body {
    font-family: Arial, sans-serif;
}

.body {
    background-color: #fff;
}

.row {
    width: 100%;
}

.col {
    margin: 0 auto;
    width: 1170px;
}

.section-header {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}

.section-header-text {
    font-size: 12px;
    color: #fff;
    
    margin: 0 auto;
}



.header {
    padding: 22px 15px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-link {
    display: block;
    color: #868686;
    font-size: 13.5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 3px;
}

.menu-link:hover {
    color: #fff; 
    background-color: #ffbb42;
    text-decoration: none;
}

/* banner */

.banner-wrap {
    background-color: #709dca;
}

.banner {
    padding: 110px 0 280px 0;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

.form-quote {
    margin: 30px auto;
}
